body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
  
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 47%;
    width: 50px;

}

#scrollButton:hover {
    background-color: rgb(72, 255, 255);
    color: black;
}


.line{
    border: 0;
    background-color: #8f8c8c;
    height: 10px;
    padding: 0;
    margin: 0;
}

/* -----------------------------------------  header  -----------------------------------------------------*/

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.left {
    position: relative;
    right: 90px;

}

#header-text {
    position: relative;
    bottom: 12px;
    color: rgb(0, 166, 255);
}

.left span img {
    width: 40px;
    height: 40px;
    padding: 5px 0 0 4px;


}

.right ul {
    display: flex;
    justify-content: center;

}

.right ul li {
    list-style: none;
    padding: 0 10px;

}

.right ul li a:hover {
    color: rgb(1, 215, 215);
}

.right ul li a {
    text-decoration: none;
    color: black;
}



/* -----------------------------------------introduction-----------------------------------------------------*/


.section-1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    background-image: linear-gradient(150deg ,black,rgb(89, 88, 88),black);
    
}

.left-section {
    font-size: 35px;
    padding: 50px 30px;
    margin: 20px 0;
    max-width: 17em;
}


.right-section img {
    width: 400px;
    position: relative;
    right: 30%;
    border-radius: 20px;
}


.section-1-btn {
    background-color: rgb(50, 51, 51);
    border: 2px solid;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.section-1-btn:hover {
    background-color: rgb(159, 251, 251);
    color: black;
    border: 0;
}

#section-input {
    padding: 20px 0;
}



/* -----------------------------------------about us -----------------------------------------------------*/

.about-info {
    display: flex;
    margin: 0 5rem;
}

#about {
    display: flex;
    padding: 30px 0;
    background-image: linear-gradient(50deg ,black,rgb(61, 61, 61),black);
}


.text-container-first {
    position: relative;
    max-width: 30%;

    left: 7%;
    padding: 10px 0;
    font-size: 20px;
}



.text-container-second {
    position: relative;
    left: 15%;
    font-size: 20px;
}

.text-container-second h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding: 10px 0 0 0;
    margin: 0%;
}

.text-container-second p {
    margin: 0%;
    padding: 0 0 10px 0;
}

.time {

    padding: 5px 0;
    margin: 0%;
}


.text-container-third {
    position: relative;
    left: 20%;
    font-size: 20px;
}

.text-container-third h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding: 10px 0 0 0;
    margin: 0%;
}

.text-container-third p {
    margin: 0%;
    padding: 0 0 10px 0;
}

.time {
    color: aqua;
    padding: 5px 0;
    margin: 0%;
}



/* -----------------------------------------services -----------------------------------------------------*/

#services{
    /* background-image: url(img/bg-3.webp);
    background-repeat:repeat;
    background-size: cover; */
    background-image: linear-gradient(150deg ,black,rgb(74, 74, 74),black);
}


.services-container .title {
    padding: 0 6rem;
    text-align: center;
}

.services-container .title h2 {
    margin:0;
    color: aqua;
    width: auto;
    font-size: 35px;
}

.services-container .title p {
    font-size: 25px;
    text-align: center;
}

.text-box {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.text-box-1 {
    border: 3px solid aqua;
    width: 25rem;
    margin: 0px 3rem 10px 0rem;
    border-radius: 20px;
}

.text-box-1 img {
    width: 50px;
    padding: 10px 0 0 10rem;
}

.text-box-1 h4 {
    padding: 10px 0 10px 10.2rem;
    margin: 0;

}

.text-box-1 .para {
    text-align: center;

}


.text-box-2 {
    border: 3px solid aqua;
    width: 25rem;
    margin: 0 0 12px 0;
    border-radius: 20px;
}


.text-box-2 img {
    width: 50px;
    padding: 10px 0 0 10rem;
}

.text-box-2 h4 {
    padding: 10px 0 10px 9rem;
    margin: 0;

}

.text-box-2 .para {
    text-align: center;
}


/* -----------------------------------------details -----------------------------------------------------*/


#details {
    padding: 30px 0;
    background-image: linear-gradient(50deg ,black,rgb(74, 74, 74),black);
}



.details {
    display: flex;
    flex-wrap: wrap;
}

.details img {
    width: 30rem;
    margin: 0 0 0 8rem;
    padding: 0%;
}

.details .text-details {
    padding: 0px 0 0 77px;
    width: 30rem;
}

.details .text-details h2 {
    font-size: 35px;
    color: rgb(220, 251, 252);
}

.details .text-details h5 {
    color: aqua;
}

.details .text-details img {
    width: 40px;
    padding: 5px;
    margin: 0%;
}


/* -----------------------------------------   FAQ  -----------------------------------------------------*/

#FAQ{
    /* background-image: url(img/bg-3.webp);
    background-repeat:repeat;
    background-size: cover; */
    background-image: linear-gradient(150deg ,black,rgb(74, 74, 74),black);
}

.FAQ {
    margin: 0 0 0 6rem;
    padding: 60px 0 3rem 0;
}


.faq-question {
    width: 50%;
    padding: 5px 0;
    font-size: 20px;
}

.faq-question:hover {
    color: rgb(113, 255, 255);

}

.faq-answer {
    display: none;
    width: 89%;
    font-size: 20px;
}

.paragraph {
    margin: 0;
    padding: 5px 0;
}

.FAQ h2 {
    padding: 0 0 10px 0;
    color: aqua;
}

.toggle-button {
    border: 0;
    border-radius: 15px;
    background-color: rgb(87, 252, 252);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
}

.toggle-button:hover {
    cursor: pointer;

}

/* --------------------------------------------footer------------------------------------------- */

#footer-id{
    background-image: linear-gradient(50deg ,black,rgb(74, 74, 74),black);
}




.footer-text {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text h3 {

    font-size: 30px;
    color: aqua;
}

.footer-text p {
    margin: 23px 0;
    font-size: 23px;
    text-align: center;
}

.socials {
    display: flex;
    padding: 0 0rem;
    cursor: pointer;
    justify-content: center;
    margin: 0;
}

.socials li {
    list-style: none;
    padding: 23px 12px;
}

.socials img {
    width: 3rem;
}

.copyright {
    padding: 12px 0rem;
    font-size: 18px;
    text-align: center;
}



/* ---------------------------------mobile view ------------------------------------*/





/* -------------------------------navbar------------------------------ */


@media only screen and (max-width: 1068px) {
    #about {
        display: block;
    }

    .text-container-first {
        max-width: 90%;
        margin: 0 55px;
        text-align: center;
        position: static;
    }


}


@media only screen and (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;

    }

    .left {
        padding: 0 0 0 12rem;
    }

}

@media (max-width: 368px) {

    #header-text {
        display: none;
    }

}

/* -----------------------------------intro------------------------------------------ */

@media (max-width: 768px) {
    .section-1 {
        flex-direction: column;
      height: 100vh;
    }

    .left-section {
        padding: 30px;
        position: absolute;
        top: 63%;
        max-width:max-content;
    }

    .right-section img {
        position: static;

        margin-top: 20px;
    }

#section-input{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.right-section{
    margin: 30px;
}
    
}

@media (max-width: 468px){

.section-1{
    height: 100vh;
}

    .right-section img {
        width: 17rem;
    }

.left-section{
    padding:0 30px;
    margin: 0;
    top: 53%;
}

}


/* -----------------------------------about------------------------------------------ */

@media (max-width: 768px) {

    #about {
        flex-direction: column;
    }

    .about-info {
        flex-direction: column;
        margin: 0 4rem;
    }

    .text-container-first,
    .text-container-second,
    .text-container-third {
        max-width: 100%;

        left: 0;

    }

    .text-container-first {
        padding: 20px 0;
        text-align: start;
    }

    .text-container-second,
    .text-container-third {
        left: 0;

    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .text-container-second,
    .text-container-third {
        font-size: 18px;
    }

    .text-container-second h6,
    .text-container-third h6 {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {

    .text-container-first,
    .text-container-second,
    .text-container-third {
        font-size: 20px;
    }

    .text-container-second h6,
    .text-container-third h6 {
        font-size: 17px;
    }
}

/*--------------------------- services------------------------------- */


@media (max-width: 768px) {


    .services-container .title h2 {
        width: 100%;
        font-size: 28px;
        margin: 0;
        padding: 20px 0 0 0;
        text-align: center;
    }

    .services-container .title p {
        width: 100%;
        padding: 0;
        font-size: 20px;
        text-align: center;
    }


    .text-box {
        flex-direction: column;
        align-items: center;
    }

    .text-box-1,
    .text-box-2 {
        width: 70%;
        margin: 0 0 12px 23px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .text-box-1 img,
    .text-box-2 img {
        padding: 0;
        margin: 0;


    }

    .text-box-1 h4,
    .text-box-2 h4 {
        padding: 10px 17.5rem;
    }

    .text-box-2 h4 {
        padding: 10px 16rem;
    }

}


@media (max-width: 568px) {

    .services-container .title h2 {
        max-width: 100%;
        padding: 20px 0 0 0;
        font-size: 28px;
        margin: 0;
    }

    .services-container .title {
        padding: 0;
        margin: 0;
    }


    .text-box-1,
    .text-box-2 {
        text-align: center;
    }


    .text-box-1 img,
    .text-box-2 img {
        padding: 15px 0;

    }

    .text-box-1 h4,
    .text-box-2 h4 {
        padding: 10px 0;
    }

}

/* ------------------------------------details-------------------- */


@media (max-width: 768px) {

    .container-details {
        margin: 0;
        padding: 15px;
    }

    .details img {
        width: 80%;
        margin: 0;

    }

    .details .text-details {
        padding: 20px 0 0 0;
        width: 100%;
    }

    .details .text-details h2 {
        font-size: 28px;
    }
}


/* --------------------------------faq section--------------------------- */



@media (max-width: 768px) {
    .FAQ {
        margin: 0;
        padding: 2rem 34px;
    }

    .FAQ h2 {
        padding-bottom: 5px;
    }

    .faq-question {
        font-size: 18px;
        width: auto;
    }

    .faq-question .paragraph {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .FAQ {
        padding: 30px 12px 1.5rem 12px;
    }

    .faq-question {
        font-size: 16px;
        width: 100%;
    }

    .faq-answer {
        font-size: 16px;
    }
}


/* --------------------------------footer------------------------------------ */


@media (max-width: 768px) {

    .footer-text h3 {

        margin: 0;
        padding: auto;
        width: 100%;
        text-align: center;
    }

    .footer-text p {
        padding: 23px 0;
        margin: 0;

    }

    .socials {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .socials li {
        margin: 0;
        padding: 0;
    }

    .socials li img {
        width: 60%;
        padding: 0;
        margin: 0;
    }

    .copyright {
        padding: 5px;
        text-align: center;
        margin: 0;
    }
}


